# Time Series Data

In [19]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2016, 11, 29, 20, 47, 6, 736038)

In [2]:
now.year, now.month, now.day

(2016, 11, 28)

In [4]:
delta = datetime(2016, 11,28) - datetime(2016, 11, 1, 12, 0)
delta

datetime.timedelta(26, 43200)

In [6]:
delta.days , delta.seconds

(26, 43200)

In [20]:
from datetime import timedelta
start = datetime(2016, 11, 1)
start + timedelta(30)

datetime.datetime(2016, 12, 1, 0, 0)

## Converting between string and datetime

In [8]:
stamp = datetime(2016, 11, 1)
print(str(stamp))
print('#'*10)
print(stamp.strftime('%Y-%m-%d'))

2016-11-01 00:00:00
##########
2016-11-01

In [18]:
# how may hours       only have days & seconds
d1 = datetime.datetime(2016, 9, 1)
d2 = datetime.datetime(2016, 9, 20)
(d2-d1).days * 24

456

In [9]:
value = '2016-11-01'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2016, 11, 1, 0, 0)

In [11]:
datestrs = ['11/1/2016', '11/2/2016']
[datetime.strptime(x, '%m/%d/%Y').date() for x in datestrs]

[datetime.date(2016, 11, 1), datetime.date(2016, 11, 2)]

In [12]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2016-11-01', '2016-11-02'], dtype='datetime64[ns]', freq=None)

In [13]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2016-11-01', '2016-11-02', 'NaT'], dtype='datetime64[ns]', freq=None)

In [14]:
idx[2]

NaT

## Time Series

In [17]:
from datetime import datetime
import numpy as np
import pandas as pd
dates = [datetime(2016, 11, 1), datetime(2016, 11, 2), datetime(2016, 11, 7), 
         datetime(2016, 11, 8), datetime(2016, 11, 10), datetime(2016, 11, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2016-11-01   -0.271258
2016-11-02    0.195309
2016-11-07    0.100708
2016-11-08   -0.155359
2016-11-10    1.072305
2016-11-12   -0.614491
dtype: float64

In [18]:
type(ts)

pandas.core.series.Series

In [19]:
ts.index

DatetimeIndex(['2016-11-01', '2016-11-02', '2016-11-07', '2016-11-08',
               '2016-11-10', '2016-11-12'],
              dtype='datetime64[ns]', freq=None)

In [20]:
ts + ts[::2]

2016-11-01   -0.542516
2016-11-02         NaN
2016-11-07    0.201415
2016-11-08         NaN
2016-11-10    2.144609
2016-11-12         NaN
dtype: float64

In [21]:
ts['11/10/2016']    # ts['20161110']

1.0723046806042846

In [24]:
longer_ts = pd.Series(np.random.randn(1000),
                   index=pd.date_range('11/1/2016', periods=1000))
longer_ts[:10]

2016-11-01    0.792382
2016-11-02    0.068651
2016-11-03   -0.831820
2016-11-04    0.075599
2016-11-05   -0.699643
2016-11-06    0.055764
2016-11-07    1.174825
2016-11-08   -1.492141
2016-11-09    0.788076
2016-11-10   -0.855782
Freq: D, dtype: float64

In [26]:
longer_ts['2017'].head()   # longer_ts['2016-05']

2017-01-01   -1.131464
2017-01-02   -0.565190
2017-01-03    0.579266
2017-01-04   -1.847416
2017-01-05   -2.095546
Freq: D, dtype: float64

In [28]:
ts

2016-11-01   -0.271258
2016-11-02    0.195309
2016-11-07    0.100708
2016-11-08   -0.155359
2016-11-10    1.072305
2016-11-12   -0.614491
dtype: float64

In [27]:
ts[datetime(2016, 11, 7):]

2016-11-07    0.100708
2016-11-08   -0.155359
2016-11-10    1.072305
2016-11-12   -0.614491
dtype: float64

In [29]:
ts['11/6/2016':'11/11/2016']

2016-11-07    0.100708
2016-11-08   -0.155359
2016-11-10    1.072305
dtype: float64

In [33]:
# handling Duplicates
dates = pd.DatetimeIndex(['1/1/2016', '1/2/2016', '1/2/2016', '1/2/2016', '1/3/2016'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts['1/2/2016']

2016-01-02    1
2016-01-02    2
2016-01-02    3
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [34]:
ts

2016-11-01   -0.271258
2016-11-02    0.195309
2016-11-07    0.100708
2016-11-08   -0.155359
2016-11-10    1.072305
2016-11-12   -0.614491
dtype: float64

In [36]:
ts.resample('D').mean()

2016-11-01   -0.271258
2016-11-02    0.195309
2016-11-03         NaN
2016-11-04         NaN
2016-11-05         NaN
2016-11-06         NaN
2016-11-07    0.100708
2016-11-08   -0.155359
2016-11-09         NaN
2016-11-10    1.072305
2016-11-11         NaN
2016-11-12   -0.614491
Freq: D, dtype: float64

In [39]:
pd.date_range('4/1/2016', '5/1/2016')

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
               '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08',
               '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12',
               '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16',
               '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
               '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24',
               '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28',
               '2016-04-29', '2016-04-30', '2016-05-01'],
              dtype='datetime64[ns]', freq='D')

In [38]:
pd.date_range(start='4/1/2016', periods=5)

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
               '2016-04-05'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range(end='5/1/2012', periods=5)

DatetimeIndex(['2012-04-27', '2012-04-28', '2012-04-29', '2012-04-30',
               '2012-05-01'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range('1/1/2016', '1/2/2016 23:59', freq='4h')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 04:00:00',
               '2016-01-01 08:00:00', '2016-01-01 12:00:00',
               '2016-01-01 16:00:00', '2016-01-01 20:00:00',
               '2016-01-02 00:00:00', '2016-01-02 04:00:00',
               '2016-01-02 08:00:00', '2016-01-02 12:00:00',
               '2016-01-02 16:00:00', '2016-01-02 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [43]:
pd.date_range('1/1/2016', periods=5, freq='1h30min')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:30:00',
               '2016-01-01 03:00:00', '2016-01-01 04:30:00',
               '2016-01-01 06:00:00'],
              dtype='datetime64[ns]', freq='90T')

## Shifting Data

In [45]:
ts = pd.Series(np.random.randn(4),
    index=pd.date_range('1/1/2016', periods=4, freq='M'))
ts

2016-01-31   -0.161351
2016-02-29    0.271326
2016-03-31    1.535694
2016-04-30    0.055556
Freq: M, dtype: float64

In [46]:
ts.shift(2)

2016-01-31         NaN
2016-02-29         NaN
2016-03-31   -0.161351
2016-04-30    0.271326
Freq: M, dtype: float64

In [47]:
ts.shift(-2)

2016-01-31    1.535694
2016-02-29    0.055556
2016-03-31         NaN
2016-04-30         NaN
Freq: M, dtype: float64

In [48]:
ts / ts.shift(1) - 1   # Can be used to calculate percentage change

2016-01-31         NaN
2016-02-29   -2.681594
2016-03-31    4.659958
2016-04-30   -0.963823
Freq: M, dtype: float64

In [49]:
ts.shift(2, freq='M')

2016-03-31   -0.161351
2016-04-30    0.271326
2016-05-31    1.535694
2016-06-30    0.055556
Freq: M, dtype: float64

In [50]:
ts.shift(3, freq='D') # is same as ts.shift(1, freq='3D')

2016-02-03   -0.161351
2016-03-03    0.271326
2016-04-03    1.535694
2016-05-03    0.055556
dtype: float64

In [21]:
from pandas.tseries.offsets import Day, MonthEnd

In [54]:
now = datetime.today()
print(now)
print('#'*10)
print(now + 3 * Day())

2016-11-28 19:15:00.385562
##########
2016-12-01 19:15:00.385562

In [55]:
now + MonthEnd()

Timestamp('2016-11-30 19:15:00.385562')

In [56]:
now + MonthEnd(2)

Timestamp('2016-12-31 19:15:00.385562')

## Working with TimeZones

In [58]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [59]:
tz = pytz.timezone('US/Eastern')
tz

## Localization and Conversion

In [64]:
rng = pd.date_range('11/1/2016 9:30', periods=6, freq='D') 
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2016-11-01 09:30:00    1.567158
2016-11-02 09:30:00   -0.083693
2016-11-03 09:30:00   -1.827492
2016-11-04 09:30:00   -2.221458
2016-11-05 09:30:00    0.448727
2016-11-06 09:30:00   -0.317142
Freq: D, dtype: float64

In [61]:
print(ts.index.tz)

None

In [65]:
pd.date_range('11/1/2016 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2016-11-01 09:30:00+00:00', '2016-11-02 09:30:00+00:00',
               '2016-11-03 09:30:00+00:00', '2016-11-04 09:30:00+00:00',
               '2016-11-05 09:30:00+00:00', '2016-11-06 09:30:00+00:00',
               '2016-11-07 09:30:00+00:00', '2016-11-08 09:30:00+00:00',
               '2016-11-09 09:30:00+00:00', '2016-11-10 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [66]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2016-11-01 09:30:00+00:00    1.567158
2016-11-02 09:30:00+00:00   -0.083693
2016-11-03 09:30:00+00:00   -1.827492
2016-11-04 09:30:00+00:00   -2.221458
2016-11-05 09:30:00+00:00    0.448727
2016-11-06 09:30:00+00:00   -0.317142
Freq: D, dtype: float64

In [67]:
ts_utc.index

DatetimeIndex(['2016-11-01 09:30:00+00:00', '2016-11-02 09:30:00+00:00',
               '2016-11-03 09:30:00+00:00', '2016-11-04 09:30:00+00:00',
               '2016-11-05 09:30:00+00:00', '2016-11-06 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [68]:
ts_utc.tz_convert('US/Eastern')

2016-11-01 05:30:00-04:00    1.567158
2016-11-02 05:30:00-04:00   -0.083693
2016-11-03 05:30:00-04:00   -1.827492
2016-11-04 05:30:00-04:00   -2.221458
2016-11-05 05:30:00-04:00    0.448727
2016-11-06 04:30:00-05:00   -0.317142
Freq: D, dtype: float64

In [69]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [70]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [71]:
# 90 minutes before DST transition
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [72]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [75]:
## Operations between 2 time zones
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [30]:
# read the txt file
import pandas as pd
lib_time = pd.read_csv("/Users/wuyan/Documents/courses/2016 fall/python/DataAnalysisPython/data/single_data_files/file_names.txt", names = ["file_name"])

In [31]:
lib_time.head()

                                           file_name
0  gs://dcdt_-dcm_account4892/dcm_account4892_act...
1  gs://dcdt_-dcm_account4892/dcm_account4892_act...
2  gs://dcdt_-dcm_account4892/dcm_account4892_act...
3  gs://dcdt_-dcm_account4892/dcm_account4892_act...
4  gs://dcdt_-dcm_account4892/dcm_account4892_act...

In [81]:
# get a series
lib_time.ix[0].str

In [33]:
# get the string
lib_time.file_name[0]

'gs://dcdt_-dcm_account4892/dcm_account4892_activity_20160927_20160928_040224_293430342.csv.gz'

In [85]:
lib_time.file_name[5824]

'gs://dcdt_-dcm_account4892/dcm_account4892_rich_media_2016112817_20161128_213258_314588099.csv.gz'

In [37]:
lib_time.shape

(5825, 1)

In [73]:
lib_time[-lib_time.file_name.str.startswith('gs://dcdt_-dcm_account4892/')]

Empty DataFrame
Columns: [file_name]
Index: []

In [71]:
lib_time.file_name.unique()

array([ 'gs://dcdt_-dcm_account4892/dcm_account4892_activity_20160927_20160928_040224_293430342.csv.gz',
       'gs://dcdt_-dcm_account4892/dcm_account4892_activity_20160928_20160929_033758_293869598.csv.gz',
       'gs://dcdt_-dcm_account4892/dcm_account4892_activity_20160929_20160930_034134_294266978.csv.gz',
       ...,
       'gs://dcdt_-dcm_account4892/dcm_account4892_rich_media_2016112815_20161128_194000_314575803.csv.gz',
       'gs://dcdt_-dcm_account4892/dcm_account4892_rich_media_2016112816_20161128_202720_314616660.csv.gz',
       'gs://dcdt_-dcm_account4892/dcm_account4892_rich_media_2016112817_20161128_213258_314588099.csv.gz'], dtype=object)

In [83]:
lib_time.file_name.apply(lambda x: x.split('_')[-5]).unique()

array(['activity', 'click', 'impression', 'cats', 'types', 'assignments',
       'ads', 'advertisers', 'browsers', 'campaigns', 'cities',
       'creatives', 'fields', 'variables', 'media', 'areas', 'value',
       'systems', 'search', 'cost', 'placements', 'sites', 'states'], dtype=object)

In [86]:
lib_time.file_name = lib_time.file_name.apply(lambda x: x[27:])

In [99]:
'dcm_account4892_rich_media_2016112817_20161128_213258_314588099.csv.gz'.split('_')

['dcm',
 'account4892',
 'rich',
 'media',
 '2016112817',
 '20161128',
 '213258',
 '314588099.csv.gz']

In [103]:
lib_time.file_name.apply(lambda x: '_'.join(x.split('_')[2:-4])).unique()

array(['activity', 'click', 'impression', 'match_table_activity_cats',
       'match_table_activity_types',
       'match_table_ad_placement_assignments', 'match_table_ads',
       'match_table_advertisers', 'match_table_browsers',
       'match_table_campaigns', 'match_table_cities',
       'match_table_creative_ad_assignments', 'match_table_creatives',
       'match_table_custom_creative_fields',
       'match_table_custom_floodlight_variables',
       'match_table_custom_rich_media',
       'match_table_designated_market_areas', 'match_table_keyword_value',
       'match_table_operating_systems', 'match_table_paid_search',
       'match_table_placement_cost', 'match_table_placements',
       'match_table_sites', 'match_table_states', 'rich_media'], dtype=object)

In [101]:
len(list(lib_time.file_name.apply(lambda x: '_'.join(x.split('_')[2:-4])).unique()))

25

In [105]:
from datetime import datetime

In [110]:
lib_time['start_date'] = lib_time.file_name.apply(lambda x : datetime.strptime((x.split('_')[-4])[:8], ''))

ValueError: unconverted data remains: 20160927

In [107]:
lib_time.start_date.max()-lib_time.start_date.min()

AttributeError: 'DataFrame' object has no attribute 'start_date'