In [7]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
movies = pd.read_csv('/Users/wuyan/Downloads/ml-latest-small/movies.csv')

FileNotFoundError: File b'/Users/wuyan/Downloads/ml-latest-small/movies.csv' does not exist

In [3]:
tags = pd.read_csv('/Users/wuyan/Downloads/ml-latest-small/tags.csv')

In [94]:
links = pd.read_csv('/Users/wuyan/Downloads/ml-latest-small/links.csv')

In [5]:
ratings = pd.read_csv('/Users/wuyan/Downloads/ml-latest-small/ratings.csv')

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [9]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [95]:
movie_links = links.merge(movies)

In [26]:
user_tags = ratings.merge(tags, how = 'outer')

In [15]:
links.shape

(9125, 3)

In [28]:
user_tags.dropna()

Empty DataFrame
Columns: [userId, movieId, rating, timestamp, tag]
Index: []

In [17]:
tags.shape

(1296, 4)

In [18]:
ratings.shape

(100004, 4)

In [97]:
movie_links.head()

,movieId,imdbId,tmdbId,title,genres
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy

In [6]:
movie_links['Comedy' in movie_links.genres.str]

NameError: name 'movie_links' is not defined

In [96]:
unique_genre = set()
for genre in movie_links.genres.values:
    unique_genre.update(genre.split('|'))

In [98]:
len(unique_genre)

20

In [99]:
for genre in unique_genre:
    movie_links[genre] = 0

In [100]:
movie_links.head()

,movieId,imdbId,tmdbId,title,genres,Animation,IMAX,War,Western,Romance,...,Crime,Fantasy,Horror,Drama,(no genres listed),Thriller,Musical,Children,Adventure,Mystery
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
for genre in unique_genre:
    movie_links.ix[movie_links.ix[:, 'genres'].str.contains(genre), genre] = 1

/Users/wuyan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app

In [102]:
movie_links.head()

,movieId,imdbId,tmdbId,title,genres,Animation,IMAX,War,Western,Romance,...,Crime,Fantasy,Horror,Drama,(no genres listed),Thriller,Musical,Children,Adventure,Mystery
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
sum(movie_links.ix[:, 'genres'].str.contains("Children") & movie_links.ix[:, 'genres'].str.contains("Comedy"))

300

In [104]:
movie_links['Sci-Fi'].sum()

792

In [105]:
for genre in unique_genre:
    print(genre, '-->', movie_links[genre].sum())

Animation --> 447
IMAX --> 153
War --> 367
Western --> 168
Romance --> 1545
Film-Noir --> 133
Action --> 1545
Comedy --> 3315
Sci-Fi --> 792
Documentary --> 495
Crime --> 1100
Fantasy --> 654
Horror --> 877
Drama --> 4365
(no genres listed) --> 18
Thriller --> 1729
Musical --> 394
Children --> 583
Adventure --> 1117
Mystery --> 543

In [81]:
movie_links.title = movie_links.title.apply(lambda x: x[: x.find('(')])

In [111]:
movie_links['year'] = movie_links.title.apply(lambda x: datetime.strptime(x.split(' ')[-1][1:-1],'%Y').date() if x.split(' ')[-1][1:-1].isdigit() else np.NAN)

In [112]:
movie_links.tail()

,movieId,imdbId,tmdbId,title,genres,Animation,IMAX,War,Western,Romance,...,Fantasy,Horror,Drama,(no genres listed),Thriller,Musical,Children,Adventure,Mystery,year
9120,162672,3859980,402672.0,Mohenjo Daro (2016),Adventure|Drama|Romance,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,2016-01-01
9121,163056,4262980,315011.0,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,2016-01-01
9122,163949,2531318,391698.0,The Beatles: Eight Days a Week - The Touring Y...,Documentary,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2016-01-01
9123,164977,27660,137608.0,The Gay Desperado (1936),Comedy,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1936-01-01
9124,164979,3447228,410803.0,"Women of '69, Unboxed",Documentary,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

[5, 6, 7, 8]